/* Color Palette
"Dark Lava":"463f3a",
"Cerulean Crayola":"00a7e1"
"Alabaster":"f4f3ee"
"Melon":"e0afa0"
"CG Blue":"007ea7"
"Caribbean Green": "06D6A0"}
*/

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #00a7e1;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007ea7;
  width: 100%;
  color: #f4f3ee;
}

a {
  text-decoration: none;
  color: #f4f3ee;
}

#game-mode-select-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-top: 16px;
  color: #f4f3ee;
  font-size: 30px;
}

.game-mode-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-mode-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid #463f3a;
  border-radius: 16px;
  width: 200px;
  height: 50px;
  margin: 24px;
  font-size: 24px;
  background-color: #9db4c0;
  color: #f4f3ee;
  box-shadow: 4px 4px 4px #007ea7;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.game-mode-card:hover {
  transform: scale(1.1);
}

.clicked {
  background-color: #06D6A0;
}

#start-game-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #e0afa0;
  width: 150px;
  height: 50px;
  border: 2px solid #463f3a;
  border-radius: 16px;
  color: #463f3a;
  cursor: pointer;
  font-size: 20px;
  transition: all .1s ease-in-out;
  box-shadow: 4px 4px 4px #007ea7
}

#start-game-button:hover {
  transform: scale(1.05);
}

.hidden {
  display: none !important;
}

#game-mode-select-error {
  color: #E63946;
  text-align: center;
  font-size: 24px;
  margin: 16px;
  margin-top: 0px;
}

#game-area-container {
  height: auto;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: center;
}

#game-board-container {
  display:grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: #463f3a;
}

#turn-indicator-container {
  height:auto;
  margin:24px;
  margin-bottom: 0px;
  color: #f4f3ee;
  font-size: 24px;
}

.board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00a7e1;
  width: 100px;
  height: 100px;
  font-size: 70px;
  color: #e0afa0;
  font-weight: 900;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



#invalid-move-error {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  margin: 12px;
  color: #E63946;
}

.hide-error {
  visibility: hidden;
}

#play-again-prompt {
  color: #463f3a;
  margin: 8px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  text-align: center;
}


#play-again-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.play-again-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #e0afa0;
  width: 60px;
  height: 30px;
  border: 2px solid #463f3a;
  border-radius: 8px;
  color: #463f3a;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 4px 4px 4px #007ea7;
  transition: all .1s ease-in-out;
}

.play-again-button:hover {
  transform: scale(1.05);
}

#scoreboard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 250px;
  height: 100px;
  border: 4px solid #007ea7;
  gap: 10px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f3ee;
  color: #463f3a;
  font-size: larger;
  box-shadow: 4px 4px 4px #007ea7;
}

#scores-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.score {
  font-size: 16px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid #008ea7;
  border-radius: 24px;
  width: 80px;
  height: 45px;
}
